.hide-txt {
    display: none;
}

.Qtitle {
    font-size: 1.7em;
    margin-bottom: 1rem;
}

.Qtxt {
    font-size: 1.4em;
    margin-bottom: 1rem;
}

.quiz-icon {
    width: 30px;
    height: auto;
    margin-bottom: 6px;
    margin-right: 6px;
}

.quiz-icon.is-zyousiki {
    width: 36px;
    height: auto;
    margin-bottom: 6px;
}